<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary"  class="no-border">
    <ion-title>Evénement :{{event.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #container>

  <div text-center class="user-profile primary-bg">
    <div class="show-image">
      <img #im    imageViewer src="{{ event.thumb}}">
    </div>

    <h4 class="light">{{ event.title }}</h4>

    <ion-card>
    <ion-grid color="white" >
      <ion-row >
        <ion-col *ngIf="event.owner.id !=userSession" (click)="participate(event)">
          <ion-icon name="ios-star-outline" ></ion-icon><br>
          <ion-note>intéressé(e)</ion-note>
        </ion-col>

        <ion-col *ngIf="event.owner.id !=userSession">
          <ion-icon name="ios-checkmark-circle-outline"></ion-icon><br>
          <ion-note> Participer</ion-note>
        </ion-col>

        <ion-col *ngIf="event.owner.id ==userSession" >
          <ion-icon name="ios-redo-outline"> </ion-icon>
          <ion-note>Ajouter des invités</ion-note>
        </ion-col>

        <ion-col (click)="shareEvent(event)" >
          <ion-icon  name="md-share"></ion-icon><br>
          <ion-note>Partagez cet évenement</ion-note>
        </ion-col>

      </ion-row>
    </ion-grid>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item >
          <ion-icon name='ios-clock-outline'  item-start></ion-icon>
          {{event.start_datetime}}--{{event.start_date}} à {{event.end_time}}<br>
          <ion-note >
            date
          </ion-note>
        </ion-item>
        <ion-item *ngIf="event.location">
          <ion-icon name='ios-pin-outline'   item-start></ion-icon>
          {{event.location}}<br>
          <ion-note >
           Location
          </ion-note>
        </ion-item>
        <ion-item *ngIf="event.host">
          <ion-icon name='ios-grid-outline'   item-start></ion-icon>
          {{event.host}}<br>
          <ion-note >
            Hôte
          </ion-note>
        </ion-item>


      </ion-list>

    </ion-card>






    <ion-card>
      <ion-segment [(ngModel)]="eventDefault">
        <ion-segment-button value="about" (click)="showEventsFeed(false)">
          A propos
        </ion-segment-button>

        <ion-segment-button value="feed" (click)="showEventsFeed(true)">
          Mise à jour
        </ion-segment-button>
        <ion-segment-button value="photos" (click)="showEventsFeed(false)">
          Photos
        </ion-segment-button>
        <ion-segment-button value="invited" (click)="showEventsFeed(false)">
          Discussion({{event.total_member}})
        </ion-segment-button>

      </ion-segment>
      <div [ngSwitch]="eventDefault">
        <div  *ngSwitchCase="'about'">
          <ion-card>
            <ion-item item-start>
              <h6 ion-text > Détails</h6>
            </ion-item>

            <p ion-item item-start>
            {{event.description}}
            </p>
          </ion-card>
          <ion-card>
            <ion-grid (click)="getInvitedMembers()">
              <ion-row>
                <ion-col col-3 col-md-3 col-sm-3>
                  Je participe
               </ion-col>
                <ion-col col-3 col-md-3 col-sm-3>
                  Je participerai peut-être
                </ion-col>
                <ion-col col-3 col-md-3 col-sm-3>
                  Je ne participe pas
                </ion-col>
                <ion-col col-3 col-md-3 col-sm-3>
                  En attente de réponse
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-3 col-md-3 col-sm-3>
                  {{event.attending_count}}
                </ion-col>
                <ion-col col-3 col-md-3 col-sm-3>
                  {{event.maybe_count}}
                </ion-col>
                <ion-col col-3 col-md-3 col-sm-3>
                  {{event.not_attending_count}}
                </ion-col>
                <ion-col col-3 col-md-3 col-sm-3>
                  {{event.awaiting_reply_count}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

        </div>


      </div>

    </ion-card>

  </div>

    <ion-card *ngIf="showFeed">
      <ion-item>
        <ion-label color="primary" stacked></ion-label>
        <ion-input type="email" (ionFocus)="goToExpress(event.id)" placeholder="Exprime toi .."></ion-input>
      </ion-item>
      <div style="background-color: #f4f4f4" color="light" >
        <ion-grid>
          <ion-row>

            <ion-col col-4 col-md-4 col-sm-4 (click)="postNewPhoto()">
              <ion-icon name="md-camera"  color="gray"></ion-icon>
            </ion-col>
            <ion-col col-4 col-md-4 col-sm-4 (click)="postNewVideo()" >
              <ion-icon   name="md-videocam" color="gray"></ion-icon>
            </ion-col>
            <ion-col col-4 col-md-4 col-sm-4 (click)="postNewLink()">
              <ion-icon name="md-link" color="gray"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card>
    <ion-list *ngIf="eventPosts && showFeed">
    <ion-card *ngFor="let post of eventPosts">


      <ion-item>
        <ion-avatar item-left (click)="viewUser(post.owner)">
          <img (error)="getDefaultImage(img)"  #img  src="{{ post.owner.imgs.icon}}">
        </ion-avatar>
        <ion-label>{{post.owner.title}}</ion-label>
        <p>{{ post.time }}</p>
      </ion-item>

      <ion-item text-wrap class="post-body">
        <div >
          <div [innerHtml]="processHtmlContent(post.content)"></div>
          <div  *ngIf="post.attachments.length && post.attachments[0].type=='video'" >
            <ion-item  [innerHtml]="videoFeedMap.get(post.attachments[0].id)"  ></ion-item>
          </div>
          <img #imAtt (error)="getDefaultImage(imAtt)" imageViewer class="full-image"
               *ngIf="post.attachments.length && post.attachments[0].type=='album_photo' " src="{{ post.attachments[0].img }}">
        </div>

        <div>
          <a (click)="viewPost(post.id)" class="subdued">{{ post.total_like}} Likes</a>
          <a (click)="viewPost(post.id)" class="subdued" margin-left>{{ post.total_comment}} Comments</a>
        </div>
      </ion-item>

      <ion-grid class="post-actions">
        <ion-row>
          <ion-col  *ngIf="post.can_like"text-center (click)="toggleLike(post)">
            <ion-icon name="thumbs-up" color="primary"  *ngIf="post.is_liked"></ion-icon>
            <ion-icon name="thumbs-up" *ngIf="!post.is_liked"></ion-icon>
          </ion-col>
          <ion-col  *ngIf="post.can_comment"text-center (click)="viewPost(post)">
            <ion-icon name="chatboxes"></ion-icon>
          </ion-col>
          <ion-col *ngIf="post.can_share" text-center (click)="sharePost(post)">
            <ion-icon name="share-alt"></ion-icon>
          </ion-col>
          <ion-col *ngIf="post.can_delete" text-center (click)="showDeletePostDialog(post)">
            <ion-icon name="ios-trash-outline" ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    </ion-list>
</ion-content>
