page-message-create {

 .label{
   display: inline-block;
   min-width: 10%!important;
   max-width: 10%!important;
   padding-left: 10px;
  }
  .to-user{
    background-color: #e6f2ff ;
    font-size: 80%;
    color: black;
  }
}
