<!--
  Generated template for the MessageCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons right>
      <button   icon-only  ion-button (click)="addAttachment($event)">
        <ion-icon name="md-link"></ion-icon>
      </button>

      <button   icon-only  ion-button  (click)="envoyerMessage()" >
        <ion-icon name="md-send"></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>Nouveau message</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list  no-lines>

      <ion-item >
        <ion-label class="user-dest" fixed>À</ion-label>
        <ion-input   [(ngModel)]="messageData.to" [formControl]="searchUsersControl"></ion-input>

      </ion-item>
      <ion-list *ngIf="showUsers" class="can-send">
        <ion-note *ngIf="canSendMessageUser && canSendMessageUser.length==0">Pas de destination valide</ion-note>
        <div *ngFor="let contact of canSendMessageUser">

          <ion-item  *ngIf="contact.can_send_message" (click)="selectItem(contact)">
            <ion-avatar item-left  >
              <img   #image (error)="getDefaultImage(image)" class="profile-picture" src="{{ contact.imgs.icon }}" alt=""/>
            </ion-avatar>

            <h2 color="primary">{{ contact.title }}</h2>
          </ion-item>
        </div>

      </ion-list>
      <ion-buttons *ngIf="selectedUesrs" >
        <button  class="to-user" ion-button round color="light" small="true" icon-only *ngFor="let user of selectedUesrs" (click)="removeUser(user)">

          <ion-icon name="md-close">{{user.title}}</ion-icon>
        </button>
      </ion-buttons>
      <ion-item >
        <ion-input placeholder="Objet" (change)="getUserFriends()" [(ngModel)]="messageData.title"></ion-input>
      </ion-item>

      <ion-item >
        <ion-textarea placeholder="Rédigez votre message" [(ngModel)]="messageData.body"></ion-textarea>
      </ion-item>

  </ion-list>

</ion-content>
