page-message-create {

 .user-dest{
   display: inline-block;
   min-width: 10%!important;
   max-width: 10%!important;
   padding-left: 10px;
  }
  .to-user{
    font-size: 80%;
    color: black;
  }
  .can-send{

    .item{
      padding-bottom: -20px;
      background-color: whitesmoke;
    }

  }
}
