<ion-header>

  <ion-navbar color="primary"  class="no-border">
    <ion-title>Album :{{album.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #container>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner name="ios"></ion-spinner>
  </div>
     <ion-list>
       <ion-row>
         <ion-col col-6 *ngFor="let image of albumPhotos" class="responsive">
           <ion-card class="gallery" (click)="goToPhotoDetail(image.id)">
             <img [defaultImage]= "'/assets/img/default-image.png'" [lazyLoad]="image.thumb" class="thumb-img" [scrollObservable]="container.ionScroll">
           </ion-card>
         </ion-col>
       </ion-row>

     </ion-list>



</ion-content>
