<!--
  Generated template for the PhotosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary"  class="no-border">
    <ion-title>photos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <h1>Faire tourner les photos</h1>
  <ion-slides>
    <ion-slide *ngFor="let image of albumPhotos " >
      <img [defaultImage]= "'/assets/img/default-image.png'" [lazyLoad]="image.thumb" class="thumb-img" imageViewer>
      <ion-grid >
        <ion-row class="post-actions">

          <ion-col width-10 *ngIf="photosMap.get(image.id).can_delete" text-center (click)="showDeletePhotoDialog(image.id)">
            <ion-icon name="ios-trash-outline" ></ion-icon>
          </ion-col>

          <ion-col width-10 *ngIf="photosMap.get(image.id).can_share" text-center (click)="shareImage(image)">
            <ion-icon name="share-alt"></ion-icon>
          </ion-col>

          <ion-col width-10 *ngIf="photosMap.get(image.id).can_report" text-center >
            <ion-icon name="ios-flag-outline" ></ion-icon>
          </ion-col>

          <ion-col width-10 *ngIf="photosMap.get(image.id).can_make_profile_photo" text-center (click)="showMakeProfilePictureDialog(image.id)">
            <ion-icon name="ios-image-outline" ></ion-icon>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-slide>



  </ion-slides>


</ion-content>
