page-home,
.home {

  .post-body {

    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    p {
      font-size: 0.8em;
    }

    a.subdued {
      color: $textColor;
      font-size: 0.8em;
    }
  }

  .post-actions {
    color: #7C7C7C;
    font-size: 1.4em;
  }
  .feed_item_username{
    display: none;
  }
  .home-bar{
    padding-left: 5em;
  }
}
