page-home,
.home {
  #notification-button {
    position: relative;
    width: 42px;
    right: 1px;
    overflow: visible!important;
  }
  #notifications-badge {
    background-color: red;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
  }

  .post-body {

    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    p {
      font-size: 0.8em;
    }

    a.subdued {
      color: $textColor;
      font-size: 0.8em;
    }
  }

  .post-actions {
    color: #7C7C7C;
    font-size: 1.4em;
  }
  .feed_item_username{
    display: none;
  }
  .home-bar{
    padding-left: 2.5em;
  }

  .post-date{
     padding-bottom: 2em;
     padding-left: 2em;
  }
}
