<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" >
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label color="primary" stacked></ion-label>
      <ion-input type="email" (click)="goToExpress(post)" placeholder="Exprime toi .."></ion-input>
    </ion-item>
    <div style="background-color: #f4f4f4" color="light" >
      <ion-grid>
        <ion-row>
          <ion-col width-25>
            <ion-icon name="md-camera" color="gray"></ion-icon>
          </ion-col>
          <ion-col width-25>
            <ion-icon name="md-link" color="gray"></ion-icon>
          </ion-col>
          <ion-col width-25>
            <ion-icon   name="md-videocam" color="gray"></ion-icon>
          </ion-col>
          <ion-col width-25>
            <ion-icon name="md-link" color="gray"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
  <ion-card   *ngFor="let post of feed ; let info = feedInfo" >
    <ion-item>
      <ion-avatar item-left (click)="viewUser(post.user_id)">
        <img src="{{ post.owner.imgs.icon}}">
      </ion-avatar>
      <ion-label>{{post.owner.title}}</ion-label>
      <h2 (click)="viewUser(post.user_id)">{{ post.name }}</h2>
      <p>{{ post.time }}</p>
    </ion-item>

    <ion-item text-wrap class="post-body">
      <div (click)="viewPost(post.id)">
        <div [innerHtml]="processHtmlContent(post)"></div>
        <div  *ngIf="post.attachments.length && post.attachments[0].type=='video'" >
           <iframe [src]="videoFeedMap.get(post.attachments[0].id)"  height="200px" allowfullscreen frameborder="0"></iframe>
        </div>
        <img class="full-image" *ngIf="post.attachments.length && post.attachments[0].type=='album_photo' " src="{{ post.attachments[0].img }}">
        <!--<p padding-top padding-bottom>{{ post.content }}</p>-->
      </div>

      <div>
        <a (click)="viewPost(post.id)" class="subdued">{{ post.total_like}} Likes</a>
        <a (click)="viewPost(post.id)" class="subdued" margin-left>{{ post.total_comment}} Comments</a>
      </div>
    </ion-item>

    <ion-grid class="post-actions">
      <ion-row>
        <ion-col  *ngIf="post.can_like"text-center (click)="toggleLike(post)">
          <ion-icon name="thumbs-up" color="primary"  *ngIf="post.is_liked"></ion-icon>
          <ion-icon name="thumbs-up" *ngIf="!post.is_liked"></ion-icon>
        </ion-col>
        <ion-col  *ngIf="post.can_comment"text-center (click)="viewPost(post)">
          <ion-icon name="chatboxes"></ion-icon>
        </ion-col>
        <ion-col *ngIf="post.can_share" text-center (click)="sharePost(post)">
          <ion-icon name="share-alt"></ion-icon>
        </ion-col>
        <ion-col *ngIf="post.can_delete" text-center (click)="showDeletePostDialog(post)">
          <ion-icon name="ios-trash-outline" ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
