page-home,
.home {
  .album-atatchment{
    margin-left: 0.5em;
    padding-right: 1em;
  }

  .search-toolbar{

  }
  #notifications-badge {
    background-color: red;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
  }

  .post-body {

    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    p {
      font-size: 0.8em;
    }

    a.subdued {
      color: $textColor;
      font-size: 0.8em;

    }
  }
  .subdued{
  margin-left: 1.5em;
  }


  .post-actions {
    color: #7C7C7C;
    font-size: 1.4em;
  }
  .home-bar{
    padding-left: 2.5em;
  }

  .post-date{
     padding-bottom: 2em;
     padding-left: 2em;
  }
  .post-content{
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .youtube {
    background-color: #000;
    width: 50%;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    width : 25em;
    height : 15em;
  }
  .youtube img {
    padding-top: 10%;
    width: 100%;
    top: -30%;
    left: 0;
    opacity: 0.7;
  }
  .youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 12px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
  }
  .youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
  }
  .youtube img,
  .youtube .play-button {
    cursor: pointer;
  }
  .youtube img,
  .youtube iframe,
  .youtube .play-button,
  .youtube .play-button:before {
    position: absolute;
  }
  .youtube .play-button,
  .youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
  }
  .youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .iframe-image{
  }
  .attachment-photo{
    img{
      width: 200px;
      height: 200px;
      margin-left: 0.5em;
      margin-right: 1em;
    }
    ion-note{
      font-weight: bold;
      position: center;
      margin-top: 1em;
      margin-left: 0.5em;
      font-size: large;
      font-weight: bold;
    }
    padding-left: 1em;
  }
  .spinner-container{
    width: 100%;
    text-align: center;
    padding: 10px;
  }

}
