<ion-header *ngIf="withNavbar" >

  <ion-navbar color="{{videoData.type =='youtube'?'danger':'primary'}}"  class="no-border">
    <ion-title> publier une  video sur {{videoData.type}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding  >

  <h2 ion-text color="primary"  class="post-author" >Publier une video </h2>


   <div padding *ngIf="!withNavbar">
     <label>Source Video</label>
     <select [(ngModel)]="videoData.type">
       <option value="youtube" selected>Youtube</option>
       <option value="vimoe">Vimoo</option>
     </select>
   </div>


  <ion-item>
    <ion-input  [(ngModel)]="videoData.url" (input)="loadVideoInfo()" type="text" placeholder="entrer l'URL .."></ion-input>
  </ion-item>
  <!--<div *ngIf=" ((!videoData.error)  ||(videoData.url &&(!videoData.title || !videoData.description)))" class="spinner-container">-->
    <!--<ion-spinner></ion-spinner>-->
  <!--</div>-->
  <ion-item *ngIf="videoData.title">
    <ion-input type="text"  [(ngModel)]="videoData.title" placeholder="le titre du video ..."></ion-input>
  </ion-item>

  <ion-item *ngIf="videoData.description">
    <ion-textarea  [(ngModel)]="videoData.description" type="text" placeholder="description .."></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-item-divider></ion-item-divider>
  </ion-item>

  <ion-item *ngIf="videoData.error &&(!videoData.title || !videoData.description) " color="light">
    <ion-input  [(ngModel)]="videoData.error" diabled type="text" placeholder="description .."></ion-input>
  </ion-item>

  <ion-item>
   <ion-label> Afficher cette vidéo dans les résultats de la recherche</ion-label>
   <ion-checkbox [(ngModel)]="videoData.allow_search"  color="dark" (checked)="videoData.allow_search"></ion-checkbox>
  </ion-item>


  <ion-item>
    <ion-label>Vie Privée</ion-label>
    <ion-select [(ngModel)]="videoData.auth_view" >
      <ion-option value="everyone">Tout le monde</ion-option>
      <ion-option value="owner_network">Contacts et Réseaux</ion-option>
      <ion-option value="owner_member_member">Contacts de mes contacts</ion-option>
      <ion-option value="owner_member">Uniquement mes contacts</ion-option>
      <ion-option value="owner">Juste Moi</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label> commentaires</ion-label>
    <ion-select  [(ngModel)]="videoData.auth_comment" >
      <ion-option value="everyone">Tout le monde</ion-option>
      <ion-option value="owner_network">Contacts et Réseaux</ion-option>
      <ion-option value="owner_member_member">Contacts de mes contacts</ion-option>
      <ion-option value="owner_member">Uniquement mes contacts</ion-option>
      <ion-option value="owner">Juste Moi</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <button  (click)="postVideo(videoData)"  [disabled]="!validFields(videoData)" ion-button>Publier la vidéo</button>
  </ion-item>

</ion-content>
