<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="primary"  class="no-border">
    <ion-title> Videos de {{userName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #container>

   <ion-list *ngFor="let vid of userVideos;let index = index" >
  <ion-card  >
    <div  class="youtube"  >

    <img  [defaultImage]= "'/assets/img/default-image.png'" [lazyLoad]="vid.thumb" [scrollObservable]="container.ionScroll">
    <iframe *ngIf="showIframe"   [src]="trustResourceUrl(vid.video_src)"
    allowfullscreen frameBorder="0"
    width="450" height="200" >

    </iframe>
    <div  *ngIf="!showIframe" #iframe clicked="false" class="play-button">
    </div>

    </div>
    <button (click)="playVideo(index,iframe)">wez</button>
  <ion-card-content>

  <p>
  {{vid.title}}
  </p>
  </ion-card-content>

  </ion-card>
  </ion-list>
<!--<ion-list *ngFor="let vid of userVideos; let odd=odd; let even=even">-->

      <!--<ion-grid>-->
        <!--<ion-row>-->
          <!--<ion-col width-50 >-->
            <!--<div  class="youtube" >-->

              <!--<img  [defaultImage]= "'/assets/img/default-image.png'" [lazyLoad]="vid.thumb" [scrollObservable]="container.ionScroll">-->
              <!--<iframe *ngIf="showIframe"   [src]="trustResourceUrl(vid.video_src)"-->
                      <!--allowfullscreen frameBorder="0"-->
                      <!--width="350" height="200" >-->

              <!--</iframe>-->
              <!--<div (click)="playVideo(iframe)" *ngIf="!showIframe" #iframe  class="play-button">-->
              <!--</div>-->
            <!--</div>-->
          <!--</ion-col>-->
          <!--<ion-col width-50 >-->
            <!--<div  class="youtube" >-->

              <!--<img  [defaultImage]= "'/assets/img/default-image.png'" [lazyLoad]="vid.thumb" [scrollObservable]="container.ionScroll">-->
              <!--<iframe *ngIf="showIframe"   [src]="trustResourceUrl(vid.video_src)"-->
                      <!--allowfullscreen frameBorder="0"-->
                      <!--width="350" height="200" >-->

              <!--</iframe>-->
              <!--<div (click)="playVideo(iframe)" *ngIf="!showIframe" #iframe  class="play-button">-->
              <!--</div>-->
            <!--</div>-->
          <!--</ion-col>-->
        <!--</ion-row>-->
      <!--</ion-grid>-->


<!--</ion-list>-->
</ion-content>
