<ion-header>

  <ion-navbar  color="primary" class="no-border">
    <button  ion-button menuToggle type="overlay">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!user">Groups</ion-title>
    <ion-title *ngIf="user">Groups de {{user.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #container>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createGroup()"><ion-icon name="ios-add-circle-outline"></ion-icon></button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefreshGroups($event)" refreshingSpinner="circles">
    <ion-refresher-content>

    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="searchTerm"  [formControl]="searchControl" ></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner name="ios"></ion-spinner>
  </div>

  <ion-list *ngFor="let group of groups">

    <ion-card  *ngIf="groups" (click)="goToGroupDetails(group)" class="group-card" >

      <img  [defaultImage]= "'/assets/img/default-image.png'" [lazyLoad]="group.thumb" [scrollObservable]="container.ionScroll">
      <ion-card-header>
        <h3 color="primary" ion-text>{{group.title}}</h3>
      </ion-card-header>
      <ion-card-content>

        <h3 ion-text color="primary">{{group.owner.title}}</h3>
        <ion-note>{{group.total_member}} membre {{group.total_member > 1 ? 's':''}}</ion-note>
      </ion-card-content>
    </ion-card>


  </ion-list>



</ion-content>
