<!--
  Generated template for the ContactsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" >
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Amis de {{user.title}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm"  [formControl]="searchControl" ></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner name="ios"></ion-spinner>
  </div>

  <ion-list *ngFor="let contact of friends">


      <ion-item >
        <ion-avatar item-left (click)="viewUser(contact.id)">
        <img  #image (error)="getDefaultImage(image)" class="friends-picture"  src="{{ contact.imgs.normal }}" alt="">
        </ion-avatar>
         <div>
          <h3 ion-text color="primary"  (click)="viewUser(contact)">{{ contact.title }}</h3>
         </div>
        <ion-buttons right (click)="joinMember(contact)" item-end>
          <button class="friend-status" color="primary" ion-button block outline small>
            <ion-icon  name="ios-person-add"  style="zoom:1.2;"  item-start></ion-icon>
            <ion-note>{{getFriendState(contact)}}</ion-note>
          </button>

        </ion-buttons>

      </ion-item>



  </ion-list>
</ion-content>
