<ion-menu [content]="content">

  <ion-content class="menu-left">
    <!-- User profile -->
    <ion-item *ngIf="profileNme" (click)="viewUser(profileId)" menuClose>
      <ion-avatar  item-left>
        <img class="profile-picture2" #image (error)="getDefaultImage(image)" src="{{profilePicture}}" >
      </ion-avatar>
      <h6>{{profileNme}}</h6>
      <ion-note>Afficher votre profile</ion-note>
    </ion-item>

    <ion-list class="list-full-border" no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left name="{{ p.icon }}"></ion-icon>
        {{ p.title }}
        <ion-badge color="danger" item-right *ngIf="p.count">{{ p.count }}</ion-badge>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
