page-user,
.user {

  .profile-picture {
    width: 8em;
    height: 8em;
  }
  .user-title{
    padding-bottom: 8em;
    padding-left: 5em;
  }

  ion-row {
    border-top: 1px solid $borderColor;

    .number {
      display: block;
    }
  }

  .post-content {
    padding-left: 10px;
    margin-bottom: 10px;
    .subdued {
      margin-right: 5px;
    }
  }
  a.subdued {
    color: $textColor;
    font-size: 0.8em;
  }

  div.show-image {
    position: relative;


  }
  .user-profile{
    background-color: #ffffff;
  }
  .user-apply {
    .col {
      font-weight: 600;
      font-size: small;
      font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
      color: black;
      .icon {
        color: #7C7C7C;
        zoom: 1.3;
      }
    }
  }
  .show-image {
    img{
      border: 1px solid #ddd;
      padding: 2px;
      width: 500px;
      height: 500px;
      border-radius: 8px;
      box-shadow: 0 0 2px 1px azure;
    }
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
  }
  h4{
    font-weight: 500;
  }

  div.show-image img{
    margin-top: 7px;
      opacity:0.8;
      width : 11em;
      height:11em;
    }
div.show-image ion-icon {

    display: block;
    position:absolute;
    opacity: 0.7;
    zoom: 1.3;
    border-radius: 8px;
  }
  div.show-image ion-icon.update{
    top : 4px;
    right: 4em;
    zoom: 1.2;


  }

  .spinner-container{
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .post-actions {
    color: #7C7C7C;
    font-size: 1.4em;
  }

  .youtube {
    background-color: #000;
    width: 50%;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    width : 25em;
    height : 15em;
  }
  .youtube img {
    padding-top: 10%;
    width: 100%;
    top: -30%;
    left: 0;
    opacity: 0.7;
  }
  .youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 12px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
  }
  .youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
  }
  .youtube img,
  .youtube .play-button {
    cursor: pointer;
  }
  .youtube img,
  .youtube iframe,
  .youtube .play-button,
  .youtube .play-button:before {
    position: absolute;
  }
  .youtube .play-button,
  .youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
  }
  .youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
