page-chats{
   .toggle{
     ion-note {
       font-size: 12px;
       align-self: flex-start;
       color: white;
       zoom: 1.5;


     }
   }
  .message-check {
    //position: absolute;
    //top :9px;
    //right: 13px;
    //height: 5px;
    //width: 5px;
    //margin-left: 24.5em;
    //margin-top: -5em;
  }
  ion-note {
    font-size: 12px;
    align-self: flex-start;
  }
  .message-check{
  }
  .message-body{
    //h6{
    //  white-space: pre-line;
    //  padding-left:5em;
    //}
  }
  .info{
    top: 0%;
    buttom : 0%;
    right : 80%!important;
    margin-bottom: -10px;
    padding-left: 8em;
    margin-left: -3em;
    margin-right: -0em;
    min-width: 20px!important;
    background-color: #3EC3D6;
  }
  .wez{
    padding-left: 100px;
    padding-bottom: 0em;
    padding-top: 0em;
  }
  .row{
    buttom : 30%;
    left: 30%;
    padding-left: 8em;
    padding-top: 10em;
    text-align: left;
  }
  .no-messages{
      zoom: 8;

  }
  .spinner-container{
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
