page-chats{


  .info{
    top: 0%;
    buttom : 0%;
    right : 80%!important;
    margin-bottom: -10px;
    padding-left: 8em;
    margin-left: -3em;
    margin-right: -0em;
    min-width: 20px!important;
    background-color: #3EC3D6;
  }
  .wez{
    padding-left: 100px;
    padding-bottom: 0em;
    padding-top: 0em;
  }
  .row{
    buttom : 30%;
    left: 30%;
    padding-left: 8em;
    padding-top: 10em;
    text-align: left;
  }
  .no-messages{
      zoom: 8;

  }
}
