page-notifications,
.notifications {
  .notifications-list {
    .item {
      position: relative;
      margin: 0;
      padding: 0;

      .item-inner {
        border-left: 1px solid color($colors, primary);
        margin-left: 2em;
        padding: 1em 1em 0;
      }
    }

    .item-label {
      display: block;
      position: absolute;
      padding: 5px 0 0;
      left: 20px;
      top: 24px;
      width: 20px;
      height: 14px;
      border-radius: 50%;
      text-align: center;
      font-size: 8px;
      border: 3px solid #FFF;
      box-sizing: content-box;
      color: #FFF;
    }

    .post-author, .notifications-content {
      font-size: 0.8em;
      font-weight: normal;
    }

    .post-time {
      margin-top: 1em;
      font-size: 0.7em;
    }
  }
  .notif-read{
   background-color: #e6f7ff;
  }
  .feed_item_username{
    color: #3EC3D6;
  }
  .friend-image{
    width: 60px;
    height: 60px;
  }
  .upade-image{
    width: 50px;
    height: 50px;
  }
  .friends-content{
    margin-left: 75px;
    margin-top: -65px;

  }
  .update-content{
    margin-left: 75px;
    margin-top: -50px;

  }
  .add-friend{
    margin-top: -5px;
   margin-left: 70px;
    font-size: 10px;
    width : 7em;
    height: 20px;

  }

  .ignore-friend{
    font-size: 10px;
    width : 7em;
    height: 22px;
    margin-left: 14.5em;

    color: black;
    font-weight: normal;
    margin-top: -24px;
    background-color: #e6e5eb;
  }
}
