<!--
  Generated template for the OptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-list class="option-list" no-lines *ngIf="type=='camera'">
  <ion-item (click)="selectPhoto()">
    <ion-icon name='ios-images-outline' color="primary"  item-start></ion-icon>
    <ion-label  ion-text tem-end>
      selectionner photo
    </ion-label>
  </ion-item>

  <ion-item (click)="takePicture()">
    <ion-icon name='ios-camera-outline' color="primary"  item-start></ion-icon>
    <ion-label ion-text item-end>
      prendre une photo
    </ion-label>
  </ion-item>
  <ion-item (click)="goToUserAlbums()">
    <ion-icon name='ios-albums-outline' color="primary"  item-start></ion-icon>
    <ion-label item-text item-end>
     voir mes Albums
    </ion-label>
  </ion-item>
</ion-list>

<ion-list *ngIf="type =='users' && users">

  <div *ngFor="let contact of users">
  <ion-item *ngIf="contact.can_send_message">
    <ion-avatar item-left (click)="selectItem(contact)" >
      <img  *ngIf="contact.imgs.icon" #image (error)="getDefaultImage(image)" class="profile-picture" src="{{ contact.imgs.icon }}" alt=""/>
    </ion-avatar>

    <ion-label color="primary">{{ contact.title }}</ion-label>
    <ion-checkbox   item-start  class="message-check" (ionChange)="selectItem($event,message)" checked="false"></ion-checkbox>
  </ion-item>
  </div>

</ion-list>

<ion-list class="option-list" no-lines *ngIf="type=='message'">
  <ion-item (click)="selectPhoto()">
    <ion-icon name='ios-images-outline' color="dark"  item-start></ion-icon>
    <ion-note item-end>
      selectionner photo
    </ion-note>
  </ion-item>

  <ion-item (click)="takePicture()">
    <ion-icon name='ios-camera-outline' color="dark"  item-start></ion-icon>
    <ion-note item-end>
      prendre une photo
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-icon name='ios-link-outline' color="dark"  item-start></ion-icon>
    <ion-note item-end>
     Ajouter un lien
    </ion-note>
  </ion-item>
</ion-list>

<ion-content *ngIf="type =='friend-request' || type=='update'">
  <ion-list>

    <div *ngIf="!notification" class="spinner-container">
      <ion-spinner name="ios"></ion-spinner>
    </div>
    <ion-list *ngFor="let notif of notification">
      <ion-item >

        <ion-avatar item-left  >
          <img   #image (error)="getDefaultImage(image)" class="profile-picture" src="{{ notif.owner.imgs.normal }}" alt=""/>
        </ion-avatar>
        <div [innerHtml]="processHtmlContent(notif.content)"></div>
        <div >
          <h3 ion-text color="primary"  >{{ notif.owner.title }}</h3>
        </div>
      </ion-item>
    </ion-list>

  </ion-list>
  <ion-card *ngIf="notifications && notification.length ==0">
    <ion-card-title> NO ITEM</ion-card-title>
  </ion-card>
</ion-content>

