<ion-header>

  <ion-navbar  color="primary" class="no-border">
    <button  ion-button menuToggle type="overlay">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Blogs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #container>
  <ion-refresher (ionRefresh)="doRefreshBlogs($event)" refreshingSpinner="circles">
    <ion-refresher-content>

    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="searchTerm"  [formControl]="searchControl" ></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createBlog()"><ion-icon name="ios-create-outline"></ion-icon></button>
  </ion-fab>
  <ion-list *ngFor="let blog of blogs">

    <ion-card  *ngIf="blogs" (click)="goToBlogDetails(blog)" class="card-blog" >

      <img  [defaultImage]= "'assets/img/user.png'" [lazyLoad]="blog.owner.imgs.normal" [scrollObservable]="container.ionScroll">
      <ion-card-header>
        <h3 color="primary" ion-text>{{blog.title}}</h3>
        <ion-note   name="ios-calendar-outline">{{blog.date}}</ion-note>
      </ion-card-header>
      <ion-card-content>

        <h3 ion-text color="primary">{{blog.owner.title}}</h3>
      </ion-card-content>
    </ion-card>


  </ion-list>



</ion-content>
