<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #container>
  <ion-card>
    <ion-segment [(ngModel)]="defautEvent">
      <ion-segment-button value="futur-events">
        Evénements à venir
      </ion-segment-button>

      <ion-segment-button value="past-events">
        Evénements Passés
      </ion-segment-button>

      <ion-segment-button value="my-events">
        Mes Evénements
      </ion-segment-button>

      <ion-segment-button value="create-event">
        Créer un Nouvel Evénement
      </ion-segment-button>

    </ion-segment>
    <div [ngSwitch]="defautEvent">

      <ion-list *ngSwitchCase="'futur-events'" inset>
        <ion-grid *ngIf="events">
        <ion-row >
        <ion-col  *ngFor="let event of events; let index = index" col-4 >
        <ion-card  >
           <img  [defaultImage]= "'/assets/img/default-image.png'" [lazyLoad]="event.thumb" [scrollObservable]="container.ionScroll">
          <ion-card-header>
            <ion-note   name="ios-calendar-outline">{{event.start_datetime}}</ion-note>
          </ion-card-header>
          <ion-card-content>
               <h3 ion-text color="primary">{{event.owner.title}}</h3>
               <ion-note>{{event.total_member}} visteur {{event.total_member > 1 ? '(s)':''}}</ion-note>
               <ion-icon  *ngIf="event.location" name="ios-pin-outline">{{event.location}}</ion-icon>
               <ion-icon  *ngIf="!event.location" hidden name="ios-pin-outline">RABAT</ion-icon>
             </ion-card-content>
        </ion-card>
        </ion-col>
        </ion-row>
        </ion-grid>
      </ion-list>

      <ion-list *ngSwitchCase="'past-events'" inset>
        <ion-item>
          <ion-label item-left>Secteur d'activité</ion-label>
          <ion-input disabled item-right type="text" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Site internet</ion-label>
          <ion-input disabled type="text" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Linkedin</ion-label>
          <ion-input disabled type="text" ></ion-input>
        </ion-item>

      </ion-list>
    </div>
  </ion-card>


</ion-content>
