<ion-header>

  <ion-navbar  color="primary" class="no-border">
    <button  ion-button menuToggle type="overlay">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!user">Evénements</ion-title>
    <ion-title *ngIf="user"> Evénements de {{user.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #container>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createEvent()"><ion-icon name="md-clipboard"></ion-icon></button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefreshBlogs($event)" refreshingSpinner="circles">
    <ion-refresher-content>

    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="searchTerm"  [formControl]="searchControl" ></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner name="ios"></ion-spinner>
  </div>

<ion-list *ngFor="let event of events">

        <ion-card  *ngIf="events" (click)="goToEventDetail(event)" >

           <img  [defaultImage]= "'/assets/img/default-image.png'" [lazyLoad]="event.thumb" [scrollObservable]="container.ionScroll">
          <ion-card-header>
            <h3 color="primary" ion-text>{{event.title}}</h3>
            <ion-note   name="ios-calendar-outline">{{event.start_datetime}}</ion-note>
          </ion-card-header>
          <ion-card-content>

               <h3 ion-text color="primary">{{event.owner.title}}</h3>
               <ion-note>{{event.total_member}} visteur {{event.total_member > 1 ? '(s)':''}}</ion-note>
               <ion-icon  *ngIf="event.location" name="ios-pin-outline">{{event.location}}</ion-icon>
               <ion-icon  *ngIf="!event.location" hidden name="ios-pin-outline"></ion-icon>
             </ion-card-content>
        </ion-card>


</ion-list>



</ion-content>
