<ion-content padding  *ngIf="photo" >
  <h2 ion-text color="primary"  class="post-author" >{{title}} </h2>


<ion-grid *ngIf="buttons">
  <ion-row>
    <ion-col >
      <button color="light" ion-button (click)="takePicture()">Camera</button>
    </ion-col>
    <ion-col >
      <button color="light"  ion-button (click)="selectPhoto()">Galerie</button>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-card>
    <img  src="{{imgData}}" imageViewer>
    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <div padding>

      <button ion-button *ngIf="post" (click)="postPhoto(imgData)"> publier la photo</button>
      <button ion-button *ngIf="profile" (click)="postPhoto(imgData)"> modifier</button>
      <button ion-button (click)="dismissView()">Annuler</button>
  </div>


</ion-content>
<ion-content  *ngIf="!photo">
  <h1>LINK PREVIEW</h1>
</ion-content>
