<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce *ngIf= " post.type =='activity_action'" >
  <ion-item  class="item-no-border">
    <ion-avatar item-left (click)="viewUser(post.user_id)">
      <img   #imgAuthor  (error)="getDefaultImage(imgAuthor)" src="{{ post.owner.imgs.profile }}">
    </ion-avatar>
    <h2 ion-text color="primary"  class="post-author" (click)="viewUser(post.user_id)">{{ post.owner.title }}</h2>
    <span class="post-time">
      <ion-icon name="timer-outline"></ion-icon>
      {{ post.time }}
    </span>
  </ion-item>
    <div padding>
    <ion-item    class="post-comment" *ngFor="let comment of post.comments" (press)="showDeleteCommentDialog(comment)">
      <ion-avatar item-left (click)="viewUser(comment.user_id)">
        <img #image (error)="getDefaultImage(image)" src="{{ comment.owner.imgs.profile }}">
      </ion-avatar>

      <h3 ion-text color="primary"  class="post-author-comment post-author">
        {{ comment.owner.title }}
      </h3>
      <p text-wrap>{{ comment.body}}</p>
      <a class="subdued like-count">
        <ion-icon name="heart" color="danger"  (click)="likeComment(comment)" *ngIf="comment.is_liked"></ion-icon>
        <ion-icon name="heart" color="gray"  (click)="unlikeComment(comment)"*ngIf="!comment.is_liked"></ion-icon>
        {{ comment.total_like}}
      </a>
      <br>
      <a class="subdued">j'aime</a>
    </ion-item>
      </div>
  <div class="body-message">
  <ion-grid class="post-actions" ion-fixed >

       <ion-input [(ngModel)]="commentElement.body" placeholder="Votre commentaire..." ></ion-input>
    <br>
       <button (click)="commentActivity(post)"  [disabled]="!commentElement.body" ion-button>commenter</button>
  </ion-grid>
  </div>
</ion-content>



<ion-content *ngIf="post.type=='album'" no-bounce>
  <ion-item class="item-no-border">
    <ion-avatar item-left (click)="viewUser(post.user_id)">
      <img src="{{ post.owner.imgs.profile }}">
    </ion-avatar>
    <h2 ion-text color="primary"  class="post-author" (click)="viewUser(post.user_id)">{{ post.owner.title }}</h2>
    <span class="post-time">
      <ion-icon name="timer-outline"></ion-icon>
      {{ post.time }}
    </span>
  </ion-item>


  <div padding>
    <ion-item    class="post-comment" *ngFor="let comment of albumComments" (press)="showDeleteCommentDialog(comment)">
      <ion-avatar item-left (click)="viewUser(comment.user_id)">
        <img src="{{ comment.owner.imgs.profile }}">
      </ion-avatar>

      <h3 ion-stext color="primary"  class="post-author">
        {{ comment.owner.title }}
      </h3>
      <p text-wrap>{{ comment.body}}</p>
      <a class="subdued like-count">
        <ion-icon name="heart" color="danger"  (click)="likeComment(comment)" *ngIf="comment.is_liked"></ion-icon>
        <ion-icon name="heart" color="gray"  (click)="unlikeComment(comment)"*ngIf="!comment.is_liked"></ion-icon>
        {{ comment.total_like}}
      </a>
      <br>
      <a class="subdued">j'aime</a>
    </ion-item>
  </div>






</ion-content>
<!--<ion-footer>-->

  <!--<ion-toolbar class="no-border" color="white">-->

    <!--<ion-buttons start>-->
      <!--<button ion-button>-->
        <!--<ion-icon name="camera" color="dark"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->

    <!--<ion-input [(ngModel)]="newMessage" placeholder="Write your message"></ion-input>-->

    <!--<ion-buttons end>-->
      <!--<button ion-button (click)="sendMessage()">-->
        <!--<ion-icon name="send" color="primary"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->

  <!--</ion-toolbar>-->

<!--</ion-footer>-->

