<ion-content no-bounce  >
  <div *ngIf="refreching" class="spinner-container">
    <ion-spinner name="ios-small"></ion-spinner>
  </div>
  <ion-item  class="item-no-border">
    <ion-avatar item-left (click)="viewUser(post.owner)">
      <img   #imgAuthor  (error)="getDefaultImage(imgAuthor)" src="{{ post.owner.imgs.profile }}">
    </ion-avatar>
    <h2 ion-text color="primary"  class="post-author" (click)="viewUser(post.owner)">{{ post.owner.title }}</h2>
    <span class="post-time">
      <ion-icon name="timer-outline"></ion-icon>
      {{ post.time }}
    </span>
  </ion-item>
      <ion-list>
    <ion-item    class="post-comment" *ngFor="let comment of comments" >
      <ion-avatar item-left (click)="viewUser(comment.owner)">
        <img #image (error)="getDefaultImage(image)" src="{{ comment.owner.imgs.profile }}">
      </ion-avatar>

      <h3 ion-text color="primary"  class="post-author-comment post-author">
        {{ comment.owner.title }}
      </h3>
      <p class="comment-body" text-wrap>{{ comment.body}}</p>
      <!--<ion-item no-lines class="subdued like-count"  >-->
        <ion-icon name="heart" color="danger"  (click)="toggleLikeComment(comment)" *ngIf="comment.is_liked"></ion-icon>
        <ion-icon name="heart" color="gray"  (click)="toggleLikeComment(comment)" *ngIf="!comment.is_liked"></ion-icon>  {{ comment.total_like}}<br>
      <!--</ion-item>-->
      <ion-note item-end name ="ios-trash-outline" (click)="showDeleteCommentDialog(comment)" class="delete-comment">supprimer</ion-note>

    </ion-item>
      </ion-list>
  <!--<div class="body-message">-->
  <!--<ion-grid class="post-actions" ion-fixed >-->

       <!--<ion-input [(ngModel)]="commentElement.body" placeholder="Votre commentaire..." ></ion-input>-->
    <!--<br>-->
       <!--<button (click)="commentActivity(post)"  [disabled]="!commentElement.body" ion-button>commenter</button>-->
  <!--</ion-grid>-->
  <!--</div>-->
</ion-content>



<!--&lt;!&ndash;<ion-content *ngIf="item_type=='album'" no-bounce>&ndash;&gt;-->
  <!--&lt;!&ndash;<ion-item class="item-no-border">&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-avatar item-left (click)="viewUser(post.owner)">&ndash;&gt;-->
      <!--&lt;!&ndash;<img src="{{ post.owner.imgs.profile }}">&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-avatar>&ndash;&gt;-->
    <!--&lt;!&ndash;<h2 ion-text color="primary"  class="post-author" (click)="viewUser(post.owner)">{{ post.owner.title }}</h2>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="post-time">&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-icon name="timer-outline"></ion-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;{{ post.time }}&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->


  <!--&lt;!&ndash;<div padding>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-item    class="post-comment" *ngFor="let comment of comments" (press)="showDeleteCommentDialog(comment)">&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-avatar item-left (click)="viewUser(comment.owner)">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="{{ comment.owner.imgs.profile }}">&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-avatar>&ndash;&gt;-->

      <!--&lt;!&ndash;<h3 ion-stext color="primary"  class="post-author">&ndash;&gt;-->
        <!--&lt;!&ndash;{{ comment.owner.title }}&ndash;&gt;-->
      <!--&lt;!&ndash;</h3>&ndash;&gt;-->
      <!--&lt;!&ndash;<p text-wrap>{{ comment.body}}</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="subdued like-count">&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-icon name="heart" color="danger"  (click)="likeComment(comment)" *ngIf="comment.is_liked"></ion-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-icon name="heart" color="gray"  (click)="unlikeComment(comment)"*ngIf="!comment.is_liked"></ion-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;{{ comment.total_like}}&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<br>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="subdued">j'aime</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->






<!--</ion-content>-->
<!--<ion-footer>-->

  <!--<ion-toolbar class="no-border" color="white">-->

    <!--<ion-buttons start>-->
      <!--<button ion-button>-->
        <!--<ion-icon name="camera" color="dark"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->

    <!--<ion-input [(ngModel)]="newMessage" placeholder="Write your message"></ion-input>-->

    <!--<ion-buttons end>-->
      <!--<button ion-button (click)="sendMessage()">-->
        <!--<ion-icon name="send" color="primary"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->

  <!--</ion-toolbar>-->

<!--</ion-footer>-->
<ion-footer>

  <ion-toolbar class="no-border" color="white">



    <ion-textarea [(ngModel)]="commentElement.body" placeholder="Votre commentaire..." ></ion-textarea>

    <ion-buttons end>
      <button (click)="commentActivity(post)"  [disabled]="!commentElement.body" ion-button>
        <ion-icon name="send" class="send-comment" color="primary"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-footer>
